<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeedFavor35</title>
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="@Url.Content("~/Resource/Static/favicon.ico")" />

</head>

<body>
    <header>
        <nav>
            <ul>
                <li>@Html.ActionLink("Услуги", "Index", "Service")</li>
                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                <li>@Html.ActionLink("FAQ", "Contact", "Home")</li>

                @Html.Partial("_LoginPartial")
            </ul>
            <div>
                <a href="@Url.Action("Index","Home")">
                    <img src="@Url.Content("~/Resource/Static/123.png")" />
                </a>
            </div>
        </nav>
        
    </header>
    <div>
        @RenderBody()


    </div>
    @*
        <footer>
            <p>&copy; @DateTime.Now.Year - SHURHUNCHIKI - Все права защищены</p>
        </footer>
    *@
    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
