@model Hakaton.Models.AddServiceCustomerExecutor

@{
    
    ViewBag.Title = "Запрос на оказание услуг";
    @Styles.Render("~/Content/createAnnouncement.css")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Запрос на оказание услуг</title>
</head>
<body class="align">
    <div class="grid">
        <div class="registration-container">
            <h1 class="registration-text">Заявка на услугу</h1>
        </div>
        
            @using (Html.BeginForm("CreateAnnouncement", "Service", FormMethod.Post, new { id = "HUI",  @class = "form login", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { placeholder = "Введите заголовок", @class = "form__input", required = "required" } })
                        </div>
                    </div>


                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "Введите описание", @class = "form__input", required = "required" } })
                        </div>
                    </div>

                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HaveCostStart, new { htmlAttributes = new { type = "number", placeholder = "Введите стоимость от-", @class = "form__input", required = "required" } })
                        </div>
                    </div>

                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HaveCost, new { htmlAttributes = new { type = "number", placeholder = "Введите стоимость до-", @class = "form__input", required = "required" } })
                        </div>
                    </div>

                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Period, new { htmlAttributes = new { placeholder = "Введите срок в строку", @class = "form__input", required = "required" } })
                        </div>
                    </div>

                    <div class="form__field">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Position, new { htmlAttributes = new { placeholder = "Введите место услуги", @class = "form__input", required = "required" } })
                        </div>
                    </div>
                    <div class="form__field">
                        
                            <input  type="submit" value="Создать" />
                       
                    </div>
                </div>

            }


        
    </div>
</body>
</html>