
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clickable List View</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Краткое описание</th>
                <th>Желаемая стоимость</th>
                <th>Сроки</th>
                <th>Место оказания услуги</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ServiceCustomerExecutor user in ViewBag.Users)
        {
                <tr>
                    <td>@user.Title</td>
                    <td>@user.Description</td>
                    <td>@user.HaveCostStart - @user.HaveCost</td>
                    <td>@user.Period</td>
                    <td>@user.Position</td>
                    <td>@Html.ActionLink("Откликнуться", "TakeService", "Service", new { serviceId = user.id.ToString() }, null)</td>
                </tr>
        }
        </tbody>
    </table>

</body>
</html>