
<!DOCTYPE html>
@Styles.Render("~/Content/ViewCardService.css")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clickable List View</title>
</head>
<body class="align">
    
    
        



            @foreach (ServiceCustomerExecutor user in ViewBag.Users)
            {
                <div class="service-card">
                    <h2 class="service-title">@user.Title</h2>
                    <p class="service-description">@user.Description</p>
                    <div class="service-info">
                        <p class="service-price">@user.HaveCostStart - @user.HaveCost</p>
                        <p class="service-duration">@user.Period</p>
                    </div>
                    <div class="service-info">
                        <p class="service-price">@user.Position</p>

                    </div>
                    <button class="service-button">@Html.ActionLink("Откликнуться", "TakeService", "Service", new { serviceId = user.id.ToString() }, null)</button>
                </div>
            }

</body>
</html>